.transactionHeader svg,
.settingsButton svg,
.exportTransaction svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.transactionHeader span {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #091e42;
}
.settingsButton button {
  text-decoration: none !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none !important;
  color: #0447f1;
}
.transactionList a {
  font-family: "Source Sans Pro";
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #0447f1;
  border-bottom: 3px solid #0447f1;
  display: inline-block;
}
.exportTransaction {
  margin-top: 6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #0447f1;
}

.exportTransaction a {
  text-decoration: none;
  margin-right: 7px;
}

.graphCard > div {
  border-radius: 16px;
  border: 1px solid #dde8fe;
  box-shadow: 0px 2.64128px 10.5651px rgba(219, 219, 219, 0.25);
}
.labelColour{
  border-radius: 6px;
  width: 8px;
  height: 8px;
  transform: matrix(1, -0.01, -0.01, 1, 0, 0);
}
.dateOptions h4 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #0035a3;
}
.dateOptions span {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #2f3034;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.dateOptions span:active {
  color: #0447f1;
}
.dateOptions a {
  text-decoration: none;
}
.searchTransactions {
  padding: 5px;
  border-radius: 14px;
  background: #f4f5f7;
  border: 0.668571px solid #e5ecfb;
  box-sizing: border-box;
  border-radius: 66.8571px;
}
.searchTransactions input{
    border: none;
    background: #f4f5f7;

}
.searchTransactions ::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 9.36px !important;
  line-height: 13px;
  color: #4e6fb6 !important;
  margin-right: 8px;
}
.searchTransactions > input :focus-visible {
  border: none;
}
.searchTransactions :focus ::placeholder {
  color: #4e6fb6 !important;
}
.filterTransactions {
  padding: 5px;
  border-radius: 14px;
  background: #f4f5f7;
  border: 0.668571px solid #e5ecfb;
  box-sizing: border-box;
  border-radius: 66.8571px;
  margin-left: 8px;
}
.filterTransactions input{
    border: none;
    background: #f4f5f7;
    width: 50px;
}
.filterTransactions ::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 9.36px !important;
  line-height: 13px;
  color: #4e6fb6 !important;
}
.filterTransactions > input :focus {
  border: none;
  outline: none;
}
textarea:focus, input:focus{
  outline: none;
}
.filterTransactions :focus ::placeholder {
  color: #4e6fb6 !important;
}
.tableRow {
  border-radius: 16px;
  border-bottom: 2px solid #dde8fe;
  box-shadow: 0px 2.64128px 10.5651px rgba(219, 219, 219, 0.25) !important;
}
.tableContainer > thead {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4e6fb6;
  box-shadow: 0px 2.64128px 10.5651px rgba(219, 219, 219, 0.25) !important;

}
.tableContainer > tbody {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  box-shadow: 0px 2.64128px 10.5651px rgba(219, 219, 219, 0.25) !important;
  line-height: 18px;
}
.whitetest svg {
  color: #0035a3 !important;
  /* background-color: #0447F1; */
}
.chartLabel h6 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #00246f;
  transform: matrix(1, -0.01, -0.01, 1, 0, 0);
}
.chartLabel p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4e6fb6;
  transform: matrix(1, -0.01, -0.01, 1, 0, 0);
}
.chartLabel > div {
  margin-left: 5px;
  margin-right: 5px;
}
.transactionContainer th,
.transactionContainer td {
  padding: 25px 13px !important;
  font-weight: 700 !important;
  word-wrap: break-word;
  white-space: nowrap;
}

.editIcon{
  width: 24px;
  height: 24px;
}


/* media queries */

@media screen and (max-width: 1080px) {
  .tableContainer > th{
    padding: auto 4px;
  }
}
@media screen and (max-width: 990px) and (min-width: 768px) {
  .pieChartDetails, .pieChartImage{
    padding: 0 !important;
  }
}
@media screen and (max-width: 890px) and (min-width: 768px) {
  .searchTransactions input{
    width: 130px;
  }
  .dateOptions{
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .graphCard{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 419px) {
  .searchTransactions input{
    width: 90px;
  }
  .transactionContainer{
    padding: 0 !important;
  }
  .pieChartDetails, .pieChartImage{
    padding: 0 !important;
  }
  .exportTransaction p{
    margin-bottom: 4px;
  }
  .exportLink{
    margin-bottom: 10px !important;
  }
}

