.container {
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 12px 6px;
}

.container input {
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
}

.container svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.container svg:nth-of-type(1) {
  margin-right: 10px;
}

.container svg:nth-of-type(2) {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 99;
}

.container input::placeholder {
  color: #000;
  font-size: 14px;
}

.container:focus-within {
  border-color: var(--app-dark-blue);
}

.container input:focus::placeholder {
  color: #4e6fb6 !important;
}

.container:hover {
  border-color: var(--app-dark-blue);
}

.container input:hover::placeholder {
  color: #4e6fb6 !important;
}

.borderLess {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

.error {
  border-color: var(--app-red);
}

.error input {
  color: var(--app-red);
}

.disabled {
  background: var(--app-disabled);
}

@media screen and (max-width: 768px) {
  .container input::placeholder {
    font-size: 12px;
  }
}
