.button {
  border-radius: 30px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.outlineButton {
  background-color: var(--app-primary-white);
  border: 1px solid #0035a3;
  color: var(--app-dark-blue);
}
.standardButton {
  background-color: var(--app-dark-blue);
  border: none;
  color: var(--app-primary-white);
}

@media screen and (max-width: 700px) {
  .button {
    font-size: 12px;
  }
}
