.dashboardHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #0035a3;
}
.activateAccountCard {
  border-radius: 12px;
}
.welcomeImage {
  width: 180px;
}
.activateAccountCard h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00246f;
}
.activateAccountCard p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2f3034;
}
.activateAccountCard a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #1a63ff;
}
.textSection,
.imageSection {
  padding: 0 !important;
}

.cardBody {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(219, 219, 219, 0.25);
  border-radius: 16px;
}
.creditInfo {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00246f;
}
.creditLimit {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #00246f;
}
.creditLimitAmount {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #2f3034;
}
.balance span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e6fb6;
  margin: auto 7px;
}
.balance p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #2f3034;
}
.requestLink {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1a63ff;
}
.paymentCard {
  background: #e5ecfb;
  border-radius: 8px;
}
.paymentCard span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #2f3034;
}
.paymentCard p{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #2F3034;
}
.cashbackCard {
  border-radius: 8px;
}
.cashbackBalance span,
.cashbackDetails p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e6fb6;
}
.cashbackBalance h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #00246f;
}
.cashbackDetails h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #00246f;
}
.redeemBalance {
  width: 100%;
  background-color: #e5ecfb;
  border-radius: 0px 0px 8px 8px;
}
.redeemBalance span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #172b4d;
}
.graphContainer {
  border-radius: 12px;
}
.graphHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #0035a3;
}
.graphFilter{
    padding: 6px 15px;
}
.infoIcon{
    width: 15px;
}

/* media queries for smaller screen sizes */

@media screen and (max-width: 1200px) {
  .welcomeImage {
    width: 165px;
  }
  .requestLink {
    font-size: 14px;
    line-height: 22px;
  }
  
}
@media screen and (max-width: 1060px) {
  .activateAccountCard h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .activateAccountCard p{
font-size: 14px;
line-height: 20px;

}
  .welcomeImage {
    width: 150px;
  }
  .requestLink {
    font-size: 13px;
    line-height: 22px;
  }
  .paymentCard p{
    font-weight: 600;
    font-size: 15px;
  }
  
}
@media screen and (max-width: 991px) {
    .paymentCard p{
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .cashbackBalance span{
  font-size: 12px;
  line-height: 20px;
}
}
@media screen and (max-width: 991px) and (min-width:768px){
    .welcomeImage{
         width: 130px;
    }

    .activateAccountCard p {
        font-size: 13px;
        line-height: 18px;
    }
}
@media screen and (max-width: 891px) and (min-width:768px){
    .welcomeImage{
        width: 112px;
    }
}
@media screen and (max-width: 768px) {
    .cardBody{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 445px){
    .containerBody{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .graphHeader{
        font-size: 21px;
  line-height: 30px;
    }
    .graphFilter{
        padding: 3px 10px;
    }
}
@media screen and (max-width: 445px){

}