.container > * {
  margin: 25px 0px;
}

.container h2,
.container h6 {
  color: var(--app-dark-blue);
  font-weight: 600;
}

.container label,
.container p {
  font-size: 14px;
  color: var(--app-dark-blue);
}

.container label span {
  font-size: 12px;
}
