/* Source sans pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* Open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --app-dark-blue: #0035a3;
  --app-light-blue: #4e6fb6;
  --app-primary-black: #2f3034;
  --app-primary-white: #ffffff;
  --app-light-bg: #f4f7fa;
  --app-disabled: #e9e8e8;
  --app-red: #f00;
}

body,
html {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
